/* Common styles for main_desktop.html and main_mobile.html */

.container {
    display: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

.layout-left {
    left: 0;
    width: 64px;
    background-color: #191919;
}

body {
    padding: 0;
    margin: 0;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 16%;
}

.my-avatar {
    width: 36px;
    height: 36px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.layout-middle {
    width: clamp(224px, 256px, calc(100vw - 64px));
    left: 64px;
    background-color: #1B1B1B;
}

.layout {
    position: fixed;
    top: 0;
    height: 100%;
}

* {
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}

.layout-right {
    left: clamp(320px, 320px, 100vw);
    right: 0;
    background-color: #111111;
}

.session-card {
    height: 72px;
    padding: 16px;
    box-sizing: border-box;
}

.session-card .session-info {
    height: 72px;
    position: relative;
    display: flex;
    top: -64px;
    left: 56px;
    flex-direction: column;
    justify-content: center;
}

.session-info .session-name {
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 160px;
}

.session-info .session-last-message {
    font-size: 12px;
    opacity: 0.8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 160px;
}

.session-card:hover {
    background-color: #2D2D2D;
}

.chat-area-header {
    height: 48px;
    padding: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #2D2D2D;
}

.chat-area-header .session-name {
    font-size: 16px;
    font-weight: bold;
}

.session-card.selected {
    background-color: #4F4F4F;
}

.message-card {
    padding: 8px 16px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
}

.message-card:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.message-card .avatar {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}

.message-card .message-body {
    margin-left: 8px;
    flex-grow: 1;
    min-width: 0;
}

.message-card .message-body .username {
    opacity: 0.8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    margin-top: -4px;
}

.message-card .message-body .username .username-text {
    flex-shrink: 0;
}

.message-card .message-body .username .message-time {
    font-size: 0.85em;
    opacity: 0.6;
    margin-left: 8px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.message-card .message-body .message-content {
    word-wrap: break-word;
    white-space: pre-wrap;
    line-height: 1.4;
    overflow-wrap: break-word;
}

.layout-left-bottom {
    position: absolute;
    bottom: 16px;
    width: 100%;
    text-align: center;
}

.layout-left-bottom .btn {
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 16%;
}

.layout-left-bottom .btn:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.chat-area-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 188px;
    box-sizing: border-box;
    border-top: 1px solid #2D2D2D;
    display: flex;
    background-color: #111111;
}

.chat-area-bottom .input-bar {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    box-sizing: border-box;
    padding: 4px 12px;
}

.input-bar .btn {
    opacity: 0.9;
}

.input-bar .btn:hover {
    opacity: 1;
    filter: brightness(0) saturate(100%) invert(17%) sepia(85%) saturate(3000%) hue-rotate(195deg) brightness(110%);
}

.chat-area-bottom textarea {
    width: 100%;
    height: calc(100% - 72px);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    resize: none;
    margin-top: 32px;
    padding: 0px 16px;
    box-sizing: border-box;
    outline: none;
}

.chat-area-bottom textarea:focus {
    outline: none;
}

.chat-area-bottom .btn-send {
    position: absolute;
    bottom: 16px;
    right: 16px;
    background-color: #0066CC;
    padding: 4px 16px;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.chat-area-content {
    height: calc(100% - 234px);
    overflow-y: auto;
}

.session-list-header {
    height: 48px;
    padding: 16px;
    box-sizing: border-box;
    border-bottom: 1px solid #2D2D2D;
}

.session-list-header .btn {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 16%;
    position: absolute;
    top: 8px;
    background-color: transparent;
    border: none;
    padding: 4px;
}

.session-list-header .btn:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.popover {
    margin: initial;
    background-color: #212121;
    border: 1px solid #414141;
    padding: 2px;
    border-radius: 4px;
}

#popover-join-session {
    position-area: bottom;
}

#popover-profile {
    position-area: right;
}

.popover-item {
    margin: 2px;
    padding: 2px 8px;
    cursor: pointer;
}

.popover-item:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.session-list {
    overflow-y: auto;
    overflow-x: hidden;
    width: calc(100%);
    height: calc(100% - 48px);
}

.session-list::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.btn-avatar {
    margin-left: 14px;
}

.loading-history {
    text-align: center;
    padding: 20px;
    color: #888;
    font-size: 14px;
    opacity: 0.8;
}

button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}

.status-cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1503;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Consolas', monospace;
    font-size: 14px;
}