.dialogs {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1200;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
}

.dialogs .dialog {
    background-color: #303030;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    display: fixed;
    width: clamp(0px, 380px, calc(100vw - 72px));
}

.dialogs .dialog .dialog-title {
    font-weight: 1000;
    color: #fff;
    font-family: 'Noto Sans SC';
    margin-bottom: 4px;
}

.dialogs .dialog .dialog-content {
    color: #fff;
    font-family: 'Noto Sans SC';
    white-space: pre-line !important;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
}

.dialogs .dialog .button-container {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
}

.dialogs .dialog .button-container button {
    border-radius: 4px;
    border: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #595959;
    width: 80px;
    height: 28px;
    margin-left: 8px;
}

.dialogs .dialog .button-container button.positive {
    background-color: #0066CC;
    border: none;
}

.dialogs .dialog .button-container button.positive:active {
    background-color: #0056AB;
}